@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
  --background: #171717;
  --foreground: #171717;
}
}
[data-theme="dark"] {
  --background: #000000;
  --foreground: #ffffff;
}


@font-face {
  font-family: 'Futuristic';
  src: url('/fonts/Futuristic.woff2') format('woff2'),
       url('/fonts/Futuristic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Futuristic', Helvetica, sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; 
}

.more-like-this::-webkit-scrollbar {
  display: none;
}
.more-like-this {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.animate-presence-scroll {
  overflow: auto; 
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.animate-presence-scroll::-webkit-scrollbar {
  display: none; 
}

